.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    min-height:100px;
    width:100%;
    background-image: linear-gradient(to right, yellow, lightyellow);
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px ;
    border: solid 1px red;
}

.page-button{
    display:block;
    height: 50px;
    width: 60px;
    font-size:36px;
    border:solid 1px red;
    border-radius: 8px;
    background-color:lightgoldenrodyellow;
    color:brown;
}

.arrow-button{
    outline:none;
    display:block;
    height: 40px;
    width: 80px;
    font-size:36px;
    border-radius: 5px;
    border:solid 1px red;
    background-color :yellow;
    color:brown;
}